<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lilong.skin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="skin_id"
            android:value="2"/>
        <meta-data
            android:name="skin_name"
            android:value="grass"/>
        <meta-data
            android:name="skin_description"
            android:value="it's grass"/>
    </application>

</manifest>
